.admin{
    width: 30%;
    margin: auto;
    border: 1px solid black;
    padding-left: 20px;
    box-sizing: border-box;
}
.admin button{
    margin-top: 20px;
}
.admin input{
    width: 300px;
    height: 20px;
}
.admin h3{
    margin-top: 40px;
}
.admin textarea{
    width: 350px;
    height: 200px;
}
.select{
    font-size: 20px;
}